<!-- <div class="container"> -->
<div class="headers">
  <div class="row">
    <div class="col-4 left">
      <img
        src="assets/img/logo_fppn_2.png"
        alt=""
        height="60px"
        width="110px"
      />
    </div>
    <div class="col-4 center">{{ title }}</div>
    <div class="col-4 right">
      <div class="row">
        <div class="col-12 numPiece">{{ numero_bordereau }}</div>
        <div class="col-12">
          <strong>
            Abidjan le {{ date_d_edition_numero_jour }}
            {{ date_d_edition_mois }} {{ date_d_edition_annee }} |
            {{ heure_d_edition }}</strong
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->
