.container {
  padding: 20px;
  font-family: "Courier Prime", monospace;
  font-size: 12px;
  width: 912px;
  margin: 0px;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: transparent;
  width: 912px;
  height: auto;
}
.headers {
  width: 912px;
  height: auto;
}
.headers .left {
  text-align: left;
  line-height: 1.5;
}
.headers .center {
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
}
.headers .right {
  text-align: right;
  font-size: 12px;
}
.title {
  text-align: center;
  font-weight: bold;
  margin: 120px 0 10px 220px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 7px;
  box-shadow: 10px 5px 5px gray;
  display: inline-block;
}
.numPiece {
  font-weight: bold;
  font-size: x-large;
  color: red;
}
