$primary-color: #9fa1a1;
$text-color: #454646;

content {
  width: 952px;
  padding: 17px;
  font-family: "Courier Prime", monospace;
  font-size: 12px;
  color: $text-color;
  margin: 0px;
}


.container {
  padding: 7px;
  font-family: "Courier Prime", monospace;
  font-size: 12px;
  color: $text-color;
  
  margin: 0px;
}


.content-2 {
  padding: 10px;
  font-family: "Courier Prime", monospace;
  font-size: 12px;
  color: $text-color;
  //width: 100%;
  margin: 0px;

  table {
    width: 100%;
    td,
    th {
      border-collapse: collapse !important;
      border: 0.1px solid #b4b3b3 !important;

      font-size: 12px;
      vertical-align: top;
      padding: 0.5rem;
      &:nth-last-child(-n + 3) {
        text-align: right;
      }
    }
    th {
      font-weight: bold;
    }
  }
}

@media print {
  .hide-on-print {
    display: none !important;
  }
  .content-2 {
    width: 100% !important;
  }
  #content {
    width: 100% !important;
  }
  * {
    float: none !important;
  }
  @page {
    size: A4 landscape;
    margin: 5%;
  }
}
