<hr class="my-0" />

<div class="card-body">
  <div class="row">
    <div class="col-12" style="text-align: center">
      <span
        >FPPN CLINIQUE @2025</span
      >
      <!--<span
        >Royal Immobilier Plus, Agence à Marcory - CA 1.000.000 au Régime
        Synthétique - N° CC : 1907897 M</span
      >
      <br />
      <span
        >N° RCCM : CI-ABG-019-A-031 - N° CNPS : 340407 situés sur le boulevard
        du Gabon, derrière l’hôtel Azalai.</span
      >
      <br />
      <span
        >www.royal-immobilier.info- E-mail : royalimmobilier91&#64;gmail.com- 21
        35 90 32 66 / 07 07 93 62 81 /01 40 64 46 64</span
      >-->
    </div>
  </div>
</div>
