<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">
      <!-- Login logo -->
      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img
              class="img-fluid"
              src="assets/img/animation-docteur-masque_183364-2147-removebg-preview.png"
              alt="Logo"
              width="537"
              height="630"
            />
          </div>
        </div>
      </div>
      <!-- /Login logo -->

      <!-- Login Content -->
      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap" >
                <div class="account-logo">
                  <a><img src="/assets/img/logo_fppn_2.png" alt="" /></a>
                </div>
                <ul
                  class="breadcrumbs"
                  style="text-align: center; list-style-type: none"
                >
                  <li [innerHTML]="info_bule"></li>
                </ul>
                <!-- Form -->
                <form action="login.html">
                  &#160; &#160; &#160;
                  <div class="input-block">
                    <label>Ancien login <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      type="text"
                      name="AncienLogin"
                      required=""
                      placeholder="Ancien login"
                      id="idAncienLogin"
                      [(ngModel)]="model_nouveau_acces[0].valeur"
                    />
                  </div>
                  <div class="input-block">
                    <label
                      >
                      Ancien mot de passe
                      <span class="login-danger">*</span></label
                    >
                    <i
                    [class]="flaticon1"
                    (click)="TogglePasswordVisibility1()"
                      style="
                        position: absolute;
                        right: 10px;
                        top: 53%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: large;
                      "
                    >
                    </i>
                    <input
                      [type]="isPasswordVisible1 ? 'text' : 'password'"
                      placeholder="Ancien mot de passe"
                      class="form-control"
                      required=""
                      name="nameAncienMdp"
                      id="idAncienMdp"
                      [(ngModel)]="model_nouveau_acces[1].valeur"
                    />
                  </div>
                  <div class="input-block">
                    <label>Nouveau login <span class="login-danger">*</span></label>
                    <input
                      type="text"
                      placeholder="Nouveau login"
                      name="nameNouveauLogin"
                      required=""
                      id="idNouveauLogin"
                      [(ngModel)]="model_nouveau_acces[2].valeur"
                      class="form-control"
                    />
                  </div>
                  <div class="input-block">
                    <label
                      >
                      Nouveau mot de passe
                      <span class="login-danger">*</span></label
                    >
                    <i
                      [class]="flaticon2"
                      (click)="TogglePasswordVisibility2()"
                      style="
                        position: absolute;
                        right: 10px;
                        top: 53%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: large;
                      "
                    >
                    </i>
                    <input
                     [type]="isPasswordVisible2 ? 'text' : 'password'"
                      placeholder="Nouveau mot de passe"
                      name="nameNouveauMdp"
                      required=""
                      id="idNouveauMdp"
                      [(ngModel)]="model_nouveau_acces[3].valeur"
                      class="form-control"
                      type="text"
                      id="idNumeroOuEmail"
                      name="nameNumeroOuEmail"
                    
                    />
                  </div>
                  <div class="input-block">
                    <label
                      >
                      Confirmez le mot de passe
                      <span class="login-danger">*</span></label
                    >
                    <i
                          [class]="flaticon3"
                          (click)="TogglePasswordVisibility3()"
                          style="
                            position: absolute;
                            right: 10px;
                            top: 53%;
                            transform: translateY(-50%);
                            cursor: pointer;
                            font-size: large;
                          "
                        >
                        </i>
                    <input
                      [type]="isPasswordVisible3 ? 'text' : 'password'"
                      placeholder="Confirmez le mot de passe"
                      name="nameConfirmMdp"
                      required=""
                      id="idConfirmMdp"
                      [(ngModel)]="model_nouveau_acces[4].valeur"
                      class="form-control"
                    />
                  </div>
                  <div class="input-block login-btn">
                    <button
                      class="btn btn-primary btn-block"
                      type="submit"
                      (click)="ChangerDAcces(model_nouveau_acces)"
                    >
                      Confirmer
                    </button>
                  </div>
                </form>
                <!-- /Form -->

                <div class="next-sign">
                  <p class="account-subtitle">
                    Revenir au login <a routerLink="/auth/login">Login</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Login Content -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
