/* .container {
  width: 80%;
  margin: 7px auto;
  padding: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table,
.table th,
.table td {
  border: 1px solid #000;
}
.table th,
.table td {
  padding: 8px;
  text-align: center;
}
.table th {
  background-color: #f0f0f0;
}
.total-row td {
  font-weight: bold;
}
 */

.container {
  width: 80%;
  margin: 7px auto;
  padding: 20px;
}
.table-container {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table-container th {
  background-color: #2e37a4; // #4caf50;
  color: white;
  font-weight: bold;
}
.total-row {
  font-weight: bold;
  background-color: #f4f5fa; // #a4a9d8; // #f1f1f1;
}
