<div class="section-btn row">
  <div class="col-6">
    <button
      class="btn btn-primary submit-form me-2 hide-on-print"
      (click)="EnvoiDuRapport('email')"
    >
      Envoi par Email
    </button>
    <button
      class="btn btn-primary submit-form me-2 hide-on-print"
      (click)="EnvoiDuRapport('whatsapp')"
    >
      Envoi par Whatsapp
    </button>
  </div>
</div>

<div class="container">
  <table class="table-container">
    <!-- entete -->
    <tr>
      <th>Actes</th>
      <th>Caisses</th>
      <th>Montant</th>
    </tr>

    <tr>
      <td rowspan="7">Consultation.s</td>
      <td>Caisse espèce</td>
      <td style="text-align: end">10 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot Wave</td>
      <td style="text-align: end">5 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot Orange</td>
      <td style="text-align: end">2 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot Moov</td>
      <td style="text-align: end">1 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot MTN</td>
      <td style="text-align: end">500 F CFA</td>
    </tr>
    <tr>
      <td>Virement</td>
      <td style="text-align: end">500 F CFA</td>
    </tr>
    <tr>
      <td>Chèque</td>
      <td style="text-align: end">500 F CFA</td>
    </tr>

    <!-- section des pieces -->
    <tr>
      <td rowspan="7">Hospitalisation.s</td>
      <td>Caisse espèce</td>
      <td style="text-align: end">10 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot Wave</td>
      <td style="text-align: end">5 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot Orange</td>
      <td style="text-align: end">2 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot Moov</td>
      <td style="text-align: end">1 000 F CFA</td>
    </tr>
    <tr>
      <td>Dépot MTN</td>
      <td style="text-align: end">500 F CFA</td>
    </tr>
    <tr>
      <td>Virement</td>
      <td style="text-align: end">500 F CFA</td>
    </tr>
    <tr>
      <td>Chèque</td>
      <td style="text-align: end">500 F CFA</td>
    </tr>

    <!-- section des totaux -->
    <tr class="total-row">
      <td colspan="2">{{ "compta_total" | translate }}</td>
      <td style="text-align: end">1 000 000 FCFA</td>
    </tr>
  </table>
</div>
