<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">
      <!-- Login logo -->
      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img
              class="img-fluid"
              src="assets/img/animation-docteur-masque_183364-2147-removebg-preview.png"
              alt="Logo"
              width="537"
              height="630"
            />
          </div>
        </div>
      </div>
      <!-- /Login logo -->

      <!-- Login Content -->
      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap" *ngIf="toggle_faire_un_choix">
                <div class="account-logo">
                  <a><img src="/assets/img/logo_fppn_2.png" alt="" /></a>
                </div>
                <ul
                  class="breadcrumbs"
                  style="text-align: center; list-style-type: none"
                >
                  <li [innerHTML]="info_bule"></li>
                </ul>
                <!-- Form -->
                <form action="login.html">
                  &#160; &#160; &#160;
                  <div class="input-block">
                    <label>Login <span class="login-danger">*</span></label>
                    <input
                      class="form-control"
                      type="text"
                      id="idLogin"
                      name="nameLogin"
                      [(ngModel)]="model_modif_mdp[0].valeur"
                    />
                  </div>
                  <div class="input-block">
                    <label
                      >{{ libelle_du_champs }}
                      <span class="login-danger">*</span></label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="idNumeroOuEmail"
                      name="nameNumeroOuEmail"
                      [(ngModel)]="model_modif_mdp[1].valeur"
                    />
                  </div>
                  <div class="input-block login-btn">
                    <button
                      class="btn btn-primary btn-block"
                      (click)="DemanderLeMotDePasse(model_modif_mdp)"
                    >
                      Confirmer
                    </button>
                  </div>
                </form>
                <!-- /Form -->

                <div class="next-sign">
                  <p class="account-subtitle">
                    Revenir au login <a routerLink="/auth/login">Login</a>
                  </p>
                </div>
              </div>

              <div class="login-right-wrap" *ngIf="!toggle_faire_un_choix">
                <div class="account-logo">
                  <a><img src="/assets/img/logo_fppn_2.png" alt="" /></a>
                </div>
                <h5 style="text-align: center">
                  Faites un choix entre renseigner
                  <strong style="color: #24369e">un numéro de téléphone</strong>
                  ou <strong style="color: #24369e">un email</strong> et vous
                  recevrez votre mot de passe, soit par
                  <strong style="color: #24369e">un sms</strong> ou soit par
                  <strong style="color: #24369e">un mail</strong>.
                </h5>

                <!-- Social Login -->
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <div class="social-login">
                      <!-- telephone -->
                      <a
                        href="javascript:;"
                        (click)="ChoixDuCanal('sms')"
                        title="SMS"
                        ><img
                          src="assets/img/icons/icons8-information.svg"
                          alt=""
                      /></a>
                      <!-- email -->
                      <a
                        href="javascript:;"
                        (click)="ChoixDuCanal('email')"
                        title="Email"
                        ><img src="assets/img/icons/icons8-gmail.svg" alt=""
                      /></a>
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
                <!-- /Social Login -->

                <div class="next-sign">
                  <p class="account-subtitle">
                    Revenir au login <a routerLink="/auth/login">Login</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Login Content -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
